<!-- Nav Bar-->
<nav class="teal lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">PlantParenthood</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./garden">Virtual Gardens</a></li>
      <li><a href="./search">Search for a Plant</a></li>
      <li><a href="./signup">Sign Up</a></li>
      <li><a href="./login">Login</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav nav-side">
      <li><a href="./garden">Virtual Gardens</a></li>
      <li><a href="./search">Search for a Plant</a></li>
      <li><a href="./signup">Sign Up</a></li>
      <li><a href="./login">Login</a></li>
    </ul>
    
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- 5 cards for each garden on the gardens page-->

<!-- Put all of the cards in flexbox and standardize the size of the cards.-->


    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/04/indoor-gardening-ideas-for-beginners.jpg">
          <span class="card-title">Herb Garden</span>
        </div>
        <div class="card-content">
          <p>Indoor gardening with herbs is easy, making it perfect for beginners. Since herbs are typically small, you have a lot of flexibility and plenty of design choices.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/04/indoor-gardening-ideas-kit-e1529154636481.jpg">
          <span class="card-title">Succulent Garden</span>
        </div>
        <div class="card-content">
          <p>There are cakes on a cupcake stand, and there are also succulents on a two-tier stand.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/04/belfast-indoor-gardening.jpg">
          <span class="card-title">Summer Garden</span>
        </div>
        <div class="card-content">
          <p>Many plants take the summer very well. Summer provides them the right amount of hours in the sun and temperature for them to grow.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/06/indoor-gardening-ideas-store.jpg">
          <span class="card-title">Fall Garden</span>
        </div>
        <div class="card-content">
          <p>Fall is the season of falling leaves, and flowers in shades of yellow and orange are perfect for this season. The conditions are still right to grow quite a few plants, so take advantage of that.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/06/reddit-indoor-gardening-kit.jpg">
          <span class="card-title">Winter Garden</span>
        </div>
        <div class="card-content">
          <p>If summer is the happy season of gardening, winter must be the bane of gardening. There’s the very little sun, and the cold is not something that plants love, though some of them actually need it.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

      <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.plantedwell.com/wp-content/uploads/2018/06/ikea-indoor-container-gardening.jpg">
          <span class="card-title">Spring Garden</span>
        </div>
        <div class="card-content">
          <p>Springtime is the season when everything starts to grow back from the winter. You can definitely get some flowers and let them thrive happily on your tabletops as part of your indoor gardening activities!</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal">
 
  <div class="footer-copyright">
    <div class="container">
      <a class="brown-text text-lighten-3" href="./index">Plant Parenthood</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./materializeJS/materialize.js"></script>
<script src="./materializeJS/init.js"></script>