<!-- Parallax Template  -->
<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">PlantParenthood</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
              <li><a href="./garden">Virtual Gardens</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
            
        </ul>

        <ul id="nav-mobile" class="sidenav nav-side">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="search">
    <div class="container">
        <h1 class="header center green-text text-darken-4" id="header-text">Plant Parenthood</h1>
        <div class="row center">
            <h5 class="header col s12 green-text text-darken-4" id="header-text">Find your perfect plant today!</h5>
        </div>

    </div>
    <div class="row">
        {{!-- Search Explanation --}}
        <div class="container center">
            <div class="col 12 m6">
                <div class="card-panel teal white-text">
                    <h5>How the Search Works</h5>
                    <p>In order to find your perfect plant, we first have to learn a bit about you!
                        Tell us about the sunlight, humidity, and moisture levels at your place of residence.
                        Let us know if you have pets or young children living with you.
                        Our custom search works to suggest a plant that fits your life.</p>
                </div>
            </div>
            <div class="col 12 m6">
                <form class="search">
                    <div class="form">
                        <!--   Search Critera   -->
                        <div class="row">
                            <div class="col 6 search-option z-depth-4">
                                <select id="sun" class="browser-default">
                                    <option value="" disabled selected>What kind of sun exposure can you provide?
                                    </option>
                                    <option value="Full Sun">Full Sun</option>
                                    <option value="Partial Sun">Partial Sun</option>
                                    <option value="Bright Indirect Sun">Bright Indirect Sun</option>
                                    <option value="Indirect Sun">Indirect Sun</option>
                                    <option value="Partial to full Sun">Partial to Full Sun</option>
                                    <option value="Partial to low Sun">Partial to Low Sun</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col 6 search-option z-depth-4">
                                <select id="humidity" class="browser-default">
                                    <option value="" disabled selected>What are the humidity levels you can provide?
                                    </option>
                                    <option value="Low">Low</option>
                                    <option value="Average">Average</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col 6 search-option z-depth-4">
                                <select id="maintenance" class="browser-default">
                                    <option value="" disabled selected>What maintenance level are you comfortable with?
                                    </option>
                                    <option value="Low">Low</option>
                                    <option value="Medium">Medium</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col 6 search-option z-depth-4">
                                <select id="pets" class="browser-default">
                                    <option value="" disabled selected>Do you have young children or pets?</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            {{!-- <div class="col 6 search-option z-depth-4">
                                <select id="price" class="browser-default">
                                    <option value="" disabled selected>What is your price range?</option>
                                    <option value="$">$</option>
                                    <option value="$$">$$</option>
                                    <option value="$$$">$$$</option>
                                </select> --}}
                                <button type="submit">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>







<footer class="page-footer teal">
    <div class="footer-copyright"></div>
    <div class="container">
        <a class="brown-text text-lighten-3" href="./index">Plant Parenthood</a>
    </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./materializeJS/materialize.js"></script>
<script src="./materializeJS/init.js"></script>
<script src="./js/search.js"></script>