<!-- Parallax Template  -->
<nav class="teal lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">PlantParenthood</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav nav-side">
            <li><a href="#">Navbar Link</a></li>
            <li><a href="./search">Search for a Plant</a></li>
            <li><a href="./signup">Sign Up</a></li>
            <li><a href="./login">Login</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="search">
    <div class="container">
        <h1 class="header center green-text text-darken-4" id="header-text">Plant Parenthood</h1>
        <div class="row center">
            <h5 class="header col s12 green-text text-darken-4" id="header-text">Find your perfect plant today!</h5>
        </div>

    </div>
    <div class="row">
        {{!-- Search Explanation --}}
        <div class="container center">
            <div class="col 12 m6">
                <div class="card-panel teal white-text">
                    <h5>How the Search Works</h5>
                    <p>In order to find your perfect plant, we first have to find out a bit about you!</p>
                    <p>Are you looking for a plant for your apartment that doesn't have great light? Make sure to let us
                        know by checking Low Light. If this is your first plant, maybe start out with something low
                        maintenance. Have pets or small children? Be sure to check that off to remove
                        toxic plants from your search results. Do you live somewhere really dry? Let us know by
                        selecting Low Humidty.</p>
                </div>
            </div>
            <div class="col 12 m6">
                <div class="section">
                    <!--   Search Critera   -->
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>What kind of sunlight can you provide?</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>What level of humidity are you able to provide
                                </option>
                                <option value="1">Low</option>
                                <option value="2">Average</option>
                                <option value="3">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>What maintenance level are you comfortable with?
                                </option>
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                                <option value="4">Any</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>Do you have pets?</option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>Do you have small children?</option>
                                <option value="1">Yes</option>
                                <option value="2">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 6 search-option z-depth-4">
                            <select class="browser-default">
                                <option value="" disabled selected>What is your price range?</option>
                                <option value="1">$</option>
                                <option value="2">$$</option>
                                <option value="3">$$$</option>
                                <option value="4">Any</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<footer class="page-footer teal">
    <div class="footer-copyright"></div>
    <div class="container">
        <a class="brown-text text-lighten-3" href="./index">Plant Parenthood</a>
    </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="./materializeJS/materialize.js"></script>
<script src="./materializeJS/init.js"></script>