<!-- header-->
<div class="bg-green-500 p-4 flex justify-between items-center">

  <!-- left side -->
  <div class="flex items-center">
    <a href="./search" class="inline-block p-2 text-green-800 hover:text-green-700 mr-2">Search</a>
    <a href="./results" class="inline-block p-2 text-green-800 hover:text-green-700">Results</a>
  </div>

  <!--   right side -->
  <div class="hidden md:block">
    <a href="#" class="inline-block p-2 text-green-800 hover:text-green-700 mr-2">Login</a>
    <a href="./signup"
      class="inline-block py-2 px-4 text-yellow-700 bg-yellow-400 hover:bg-yellow-300 hover:text-yellow-800 rounded transition ease-in duration-150">Sign
      Up</a>
  </div>

</div>

<!-- hero ============================== -->
<div class="md:flex justify-between py-20 px-10 bg-green-200 text-green-100">

  <!--   left -->
  <div class="md:w-1/2 mb-10 md:mb-0">
    <h2 class="text-2xl md:text-4xl lg:text-6xl text-green-800 mb-6">Welcome to Plant Parenthood!</h2>
    <p class="mb-6 text-green-800">Become a proud parent today!</p>

  </div>

  <!--   right -->
  <div class="md:w-1/2">
    <img
      src="https://rightasrain.uwmedicine.org/sites/chew/files/styles/large/public/images/2019/woman-watering-house-plants_0.jpg?h=a61a7e7e&itok=XU18qWQy"
      alt="Happy Plant & Owner" class="w-full rounded shadow-2xl">
  </div>

</div>


<!-- footer + newsletter ============================== -->
<div class="p-10 bg-green-900 text-green-400 flex justify-between">

  <!--   right -->
  <div class="flex items-center">
    Copyright &copy; Plant Parenthood 2020
  </div>
</div>