

<nav class="teal lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo white-text">PlantParenthood</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="./garden">Vitual Gardens</a></li>
      <li><a href="./search">Search for a Plant</a></li>
      <li><a href="./logout">Logout</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="./garden">Virtual Gardens</a></li>
      <li><a href="./search">Search for a Plant</a></li>
      <li><a href="./logout">Logout</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h4>Welcome <span class="member-name"></span></h4>
    </div>
  </div>
</div>
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center green-text text-darken-4" id="header-text">Plant Parenthood</h1>
      <div class="row center">
        <h5 class="header col s12 green-text text-darken-4" id="header-text">Find your perfect plant today!</h5>
      </div>
      <div id="index-buttons">
        <div class="row center">
          <a href="./favorites" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Favorites</a>
        </div>
        <div class="row center">
          <a href="./search" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Search</a>
        </div>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="./images/greenbg.png" alt="Plant themed background"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/profile.js"></script>
<script src="./materializeJS/materialize.js"></script>
<script src="./materializeJS/init.js"></script>




