/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 nav ul a,
 nav .brand-logo {
   color: #444;
 }
 
 p {
   line-height: 2rem;
 }
 
 .sidenav-trigger {
   color: #004d40;
 }
 
 .gardens-page {
   background-image: url("../images/greennavbg.jpg");
 }
 
 .herb {
   background-color: rgb(70, 184, 184);
   display: none;
   text-align: center;
   font-weight: bolder;
   font-size: medium;
 }
 
 .card {
   background-color: rgb(70, 184, 184);
   justify-content: center;
   text-align: center;
   color: white;
   font-weight: bolder;
   font-size: medium;
 
 }
 
 .sign {
   background-image: url("../images/greenbg2.jpg");
 }
 
 .log {
 
   background-image: url("../images/greenbg2.jpg");
 
 }
 .form-group{
   background-color: honeydew;
 }
 
 .parallax-container {
   min-height: 380px;
   line-height: 0;
   height: auto;
   color: rgba(255, 255, 255, .9);
 }
 
 .parallax-container .section {
   width: 100%;
 }
 
 @media only screen and (max-width : 992px) {
   .parallax-container .section {
     position: absolute;
     top: 40%;
   }
 
   #index-banner .section {
     top: 10%;
   }
 }
 
 @media only screen and (max-width : 600px) {
   #index-banner .section {
     top: 0;
   }
 }
 
 .icon-block {
   padding: 0 15px;
 }
 
 .icon-block .material-icons {
   font-size: inherit;
 }
 
 footer.page-footer {
   margin: 0;
 }
 
 #index-buttons {
   display: flex;
   justify-content: space-evenly;
 }
 
 #search,
 #results {
   background-image: url("../images/greenbg2.jpg");
   background-attachment: fixed;
   padding: 30px;
 }
 
 .search-sec {
   background-color: white;
 }
 
 .search-option {
   justify-content: center;
 }
 
 .result-image {
   max-height: 100px;
 }
 
 .search-card {
   margin: auto;
   width: 50%;
 
 }
 
 .center-container {
   margin: auto;
   width: 50%;
   margin-top: 5px;
 }
 
 .card-panel {
   padding-top: 10px;
   margin-top: 10px;
 }
 
 #search-results-text {
   color: white;
   text-shadow: 2px 2px 4px #000000;
 }
 
 #header-text {
   text-shadow: 2px 2px 4px white;
 }
 
 .nav-side {
   background-image: url("../images/greennavbg.jpg");
 }